<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Gab</title>
    <link rel="stylesheet" href="/css/style.css">
    <nav>
      <a href="./homepage">Gabble</a>
      <a href="/">Create a new gab</a>
      <a href="./signup">Log in</a>
      <a href="./login">Log out</a>
    </nav>
  </head>
  <body>
      <h1>Create a new gab</h1>
      <input type="text" name="" value="">
      <button type="submit" name="button">Save gab</button>
  </body>
</html>
