<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
    <nav>
      <a href="./homepage">Gabble</a>
      <a href="./create_message">Create a new gab</a>
      <a href="./signup">Log in</a>
      <a href="./login">Log out</a>
    </nav>
  </head>
  <body>

  </body>
</html>
