<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Gabble</title>
    <link rel="stylesheet" href="/css/style.css">
    <nav>
      <a href="./homepage">Gabble</a>
      <a href="./create_message">Create a new gab</a>
      <a href="./signup">Log in</a>
      <a href="/">Log out</a>
    </nav>
  </head>
  <body>
  <div class="container">
      <h1>Welcome to Gable</h1>
      <h2>Login</h2>

    <form class="" action="/login" method="post">
      <p>Username</p>
      <input type="text" name="name" value="">
      <p>Password</p>
      <input type="password" name="password" value=""><br><br>
      <button type="button" name="button">Sign in</button>
    </form>

    <p>Dont have an account? <a href="/signup">Signup</a> here</p>

  </div>
  </body>
</html>
