<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sign up</title>
    <link rel="stylesheet" href="/css/style.css">
    <nav>
      <a href="./homepage">Gabble</a>
      <a href="./create_message">Create a new gab</a>
      <a href="/">Log in</a>
      <a href="./login">Log out</a>
    </nav>
  </head>
  <body>
    <h1>Sign up</h1>
    <form class="" action="/signup" method="post">

      <p>Username</p>
      <input type="text" name="name" value="">

      <p>Password</p>
      <input type="password" name="password" value=""><br><br>

      <button type="submit" name="button">signup</button>
    </form>
  </body>
</html>
